<div class="row">
<div class="col-md-9 col-sm-9 blog-posts">
<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %> blog-item" itemscope itemprop="blogPost">
  <div class="article-meta">
  </div>
  <div class="article-inner">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
    <header class="article-header">
      <ul class="blog-info">
	<li><i class="fa fa-user"></i> <%- post.author || theme.default_author || "Anonymous" %></li>
	<li><i class="fa fa-calendar"></i>
	  <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'YYYY/MM/DD'}) %>
	</li>
	<li class="hidden-xs"><i class="fa fa-comments"></i>
	  <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link">Comments</a>
	</li>
	<li class="hidden-xs"><i class="fa fa-tags"></i> 
	  <%- partial('post/tag') %>
	</li>
      </ul>
      <%- partial('_partial/post/category') %>
    </header>
    <% } %>
	<!-- 目录内容 -->
	<% if (!index && post.toc){ %>
		<p class="show-toc-btn" id="show-toc-btn" onclick="showToc();" style="display:none">
			<span class="btn-bg"></span>
			<span class="btn-text">文章导航</span>
			</p>
		<div id="toc-article" class="toc-article">
			<span id="toc-close" class="toc-close" title="隐藏导航" onclick="showBtn();">×</span>
			<strong class="toc-title">文章目录</strong>
				<%- toc(post.content) %>
			</div>
		<script type="text/javascript">
		function showToc(){
			var toc_article = document.getElementById("toc-article");
			var show_toc_btn = document.getElementById("show-toc-btn");
			toc_article.setAttribute("style","display:block");
			show_toc_btn.setAttribute("style","display:none");
			};
		function showBtn(){
			var toc_article = document.getElementById("toc-article");
			var show_toc_btn = document.getElementById("show-toc-btn");
			toc_article.setAttribute("style","display:none");
			show_toc_btn.setAttribute("style","display:block");
			};
		</script>
	<% } %>		
	<!-- 目录内容结束 -->	
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
  <br>
</article>


<% if (post.comments && theme.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
</section>
<br>
<% } %>

</div>
<div class="col-md-3 col-sm-3 blog-sidebar">
  <%- partial('sidebar') %>
</div>
</div>
